doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Forum projet
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        link(rel='stylesheet', href='css/login.css')
    body
        div(class="container")
            div(class="size-title")
                h1 Connectez-vous !
            div(class="form")
                form(method="post")
                    label(for="email") Email
                    input(type="email", name="username", id="email")
                    label(for="password") Mot de Passe
                    input(type="password", name="password", id="password")
                    button(type="submit") Se connecter
            div(class="social")
                h2 Se connecter avec les réseaux sociaux
                div(class="flex")
                    div(class="icon twitter")
                    div(class="icon facebook")
                    div(class="icon pinterest")
                    div(class="icon dribbble right")
        div(class="footer")
            div(class="account")
                a(href="/register") Inscription
            div(class="password")
                a(href="") Mot de passe oublié