doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Forum projet
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        link(rel='stylesheet', href='css/profile.css')
    body
        div(class="navbar")
            div(class="navbar-left")
                div(class="icon")
                    a(href="/")
                a(href="/addReview")
                    p Ajouter une question
                a(href="/addReview")
                    p Browse
                a(href="/addReview")
                    p Your Tickets
            div(class="navbar-right")
                input(placeholder="Search")
                a(href='/profile')
                    p Hello
                a(href='/disconnect')
                    p Déconnexion
        div(class="container-profile")
            div(class="info-profile")
                div(class="info-profile-list")
                    div(class="info-profile-active")
                        img(src="")
                    div
                        h2 Mon Profil
                        p How your account looks like
                div(class="info-profile-list")
                    div
                        img(src="")
                    div
                        h2 Notifications
                        p Email notifications and all around this
                div(class="info-profile-list")
                    div
                        img(src="")
                    div
                        h2 Historique
                        p View your recent downloads
                div(class="info-profile-list")
                    div
                        img(src="")
                    div
                        h2 Buisness
                        p Everything about your money
                div(class="info-profile-list border")
                    div
                        img(src="")
                    div
                        h2 Support
                        p Besoin d'aide?
            div(class="container-right")
                div(class="container-right-1")
                    h2 Mon Profil
                    div(class="container-right-form")
                        form
                            div(class="container-right-img flex")
                                div(class="bio-left")
                                    img(src="icon/reload.png")
                                div(class="bio-right")
                                    label Nom
                                    input
                            label Bio
                            textarea
                            label E-mail
                            input
                            button Modifier
                            label Mot de passe
                            input
                            button Modifier
                div(class="service")
                    h2 Services
                    div(class="service-list")
                        div(class="service-title")
                            img(src="icon/paypal.png")
                            p Paypal
                        div(class="mail")
                            p me@janlosert.com
                    div(class="service-list")
                        div(class="service-title")
                            img(src="icon/spotify.png")
                            p Spotify
                        div(class="mail")
                            p janlosert@dashboard.com
                    div(class="service-list")
                        div(class="service-title")
                            img(src="icon/facebook2.png")
                            p Facebook
                        div(class="mail")
                            p me@janlosert.com
                    div(class="service-list")
                        div(class="service-title")
                            img(src="icon/twitter2.png")
                            p Twitter
                        div(class="mail")
                            p @janlosert.com
                    div(class="service-list border")
                        div(class="service-title")
                            img(src="icon/pinterest2.png")
                            p Pinterest
                        div(class="mail")
                            p me@janlosert.com